body, h2, h3{
    margin: 0rem;
}
body{
    padding: 2rem 8rem;
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: var(--font-color);
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    gap: 0.2rem;
    display: flex;
    font-family: var(--logo-font);
    cursor: pointer;
}
.express{
    color: var(--primary-color);
}
.mid-menu{
    gap: 2rem;
    display: flex;
    font-family: var(--secondary-font);
    color: var(--font-color);
}
.mid-menu h3{
    font-weight: 500;
    font-size: var(--secondary-font-size);
    cursor: pointer;
}
input[type="search"] {
    padding: 0.3rem 0.3rem;
    border: none;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    color: var(--font-color);
}
.search{
    background-color: var(--background-color);
    height: 2rem;
    width: 20rem;
    text-align: center;
    padding: 0.3rem 0rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow); 
}
.search h2{
    font-weight: 500;    
}
.search i{
    font-size: 1rem;
    margin: 0rem 0.5rem;
}
.vr{
    border-left: 0.1rem solid #cecece;
    margin-right: 0rem;
}

/* heading */
.both-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
}
.left-side-heading{
    position: relative;
    font-family: var(--secondary-font);
    color: var(--font-color);
}
.left-side-heading h1{
    font-weight: bold;
    font-size: 6rem;
    margin: 0rem;
}
.left-side-heading p{
    margin: 0rem;
    margin-top: 4rem;
}
.orange{
    color: var(--primary-color);
}
.right-side{
    margin-top: 6rem;
}
.item{
    height: 19rem;
    width: 17rem;
    border-radius: 1rem;
    position: relative;
    margin-top: 20%;
    /* background-color: red; */
    box-shadow: var(--shadow); 
}
.item img{
    position: absolute;
    top: -6rem;
    width: 100%;
}
.item h3, h4{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    margin: 0rem;
    margin-top: 1rem;
    text-align: center;
}
.item h4{
    color: rgb(255, 0, 0);
}
.item p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0rem;
    margin-top: 0.5rem;
    text-align: center;
    align-items: end;
}
.item-text{
    margin-top: 70%;
}
.items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#pizza{
    top: -4.375rem;
}
.left-side-arrow img{
    width: 35%;
    opacity: 0.2;
}
.left-side-arrow{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}
.order-now{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    font-weight: bold;
    color: var(--background-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    margin-top: 3rem;
    text-align: center;
    border: none;
    cursor: pointer;
}
.left-side-buttons{
    display: flex;
}
.order-process{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
}
.order-process h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: 500;
    cursor: pointer;
}
.order-process i{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* informations */
.parent-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
    width: 100%;
    margin: 6rem 0rem;
    border-radius: 1rem;
    /* background-color: red; */
    box-shadow: var(--shadow);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem 1rem;
    padding: 2rem;
}
.info i{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.info h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: 500;
    margin: 0rem;
}
.info p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0.2rem;
}
.info-line{
    height: 65%;
    border-left: 0.1rem solid #cecece;
    margin-right: 0rem;
}
/* products */
.popular-text p{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1rem;
    margin: 0rem;
    margin-top: 0.5rem;
    text-align: center;
}
.popular-text h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin-bottom: 5rem;
    text-align: center;
}
.popular-item{
    position: relative;
    height: 26.25rem;
    width: 25rem;
    border-radius: 1.25rem;
    box-shadow: var(--shadow);
}
.rating{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.rating i{
    color: var(--primary-color);
}
.rating p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0rem;
}
.name h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin: 0rem;
}
.name-rating{
    /* position: absolute;
    bottom: 1.25rem; */
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.875rem 0rem 1.875rem;
    margin-top: 1.5rem;
}
.cart{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.875rem 0rem 1.875rem;
    align-items: center;
    margin-top: 1rem;
}
.cart button{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    font-weight: bold;
    color: var(--background-color);
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-family: var(--secondary-font);
    font-weight: 300;
    border: none;
    cursor: pointer;
}
.cart p{
    font-family: var(--secondary-font);
    font-weight: 600;
}
.popular-item-img img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.popular-container{
    display: flex;
    justify-content: center;
    
}
.see-more-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.see-more button{
    background: none;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    color: var(--background-color);
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.see-more i{
    font-size: 1.5rem;
    color: var(--background-color);
    cursor: pointer;
}
.see-more{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    height: 4rem;
    width: 18rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.pop-2{
    margin-top: 1.5rem;
}
.hide{
    display: none;
}
/* Services */
.upper-text{
    margin-top: 4rem;
}
/* cards */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
    border: 0.1rem solid #cecece;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.2);
    border: none;
    transition: box-shadow 0.5s;
    /* transition: border 1s;   */
}
.card i{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.card h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: 500;
    margin: 0rem;
}
.card p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 1rem;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
/* testimonial */
.left-testimonial{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 35rem;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: var(--shadow);
    margin-bottom: 5rem;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.profile h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin: 0rem;
    margin-top: 1rem;
}
.profile p{
    text-align: center;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 0.8rem;
    margin: 0rem;
    margin-top: 0.5rem;
}
.icons{
    display: flex;
    position: absolute;
    color: var(--primary-color);
    font-size: 2rem;
    gap: 40.5rem;
    cursor: pointer;
}
.testimonial-subcontainer{
    display: flex;
    justify-content: center;
    gap: 25rem;
    align-items: center;
}
.right-testimonial img{
    height: 15rem;
}
/* newsletter */
.newsletter{
    display: flex;
    justify-content: center;
    gap: 15rem;
    height: 25rem;
    width: 100%;
    border-radius: 2rem;
    background-color: black;
    color: var(--background-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.newsletter-right h3{
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin-bottom: 1rem;
}
.newsletter-right p{
    font-family: var(--secondary-font);
    font-size: 1rem;
    margin-bottom: 1rem;
}
.newsletter-right input[type="email"] {
    border: none;
    font-size: 0.8rem;
    font-family: var(--secondary-font);
    color: var(--font-color);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    width: 20rem;
    height: 2rem;
}
.input-and-button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.button button{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    color: var(--background-color);
    font-family: var(--secondary-font);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10rem;
    top: 0.5rem;
}