body, h2, h3{
    margin: 0px;
}
body{
    padding: 40px 150px;
    background-color: var(--background-color);
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    gap: 5px;
    display: flex;
    font-family: var(--logo-font);
    cursor: pointer;
}
.express{
    color: var(--primary-color);
}
.mid-menu{
    gap: 2rem;
    display: flex;
    font-family: var(--secondary-font);
    color: var(--font-color);
}
.mid-menu h3{
    font-weight: 500;
    font-size: var(--secondary-font-size);
    cursor: pointer;
}
input[type="search"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    color: var(--font-color);
}
.search{
    background-color: var(--background-color);
    height: 31px;
    width: 320px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 8px;
    box-shadow: var(--shadow); 
}
.search h2{
    font-weight: 500;    
}
.search i{
    font-size: 15px;
    margin: 0px 10px;
}
.vr{
    height: 20px;
    border-left: 1px solid #cecece;
    margin-right: 0px;
}

/* heading */
.both-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.left-side-heading{
    position: relative;
    font-family: var(--secondary-font);
    color: var(--font-color);
}
.left-side-heading h1{
    font-weight: bold;
    font-size: 6rem;
    margin: 0px;
}
.left-side-heading p{
    margin: 0px;
    margin-top: 4rem;
}
.orange{
    color: var(--primary-color);
}
.right-side{
    margin-top: 6rem;
}
.item{
    height: 300px;
    width: 270px;
    border-radius: 10px;
    position: relative;
    margin-top: 20%;
    /* background-color: red; */
    box-shadow: var(--shadow); 
}
.item img{
    position: absolute;
    top: -100px;
    width: 100%;
}
.item h3, h4{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    margin: 0px;
    margin-top: 1rem;
    text-align: center;
}
.item h4{
    color: rgb(255, 0, 0);
}
.item p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0px;
    margin-top: 0.5rem;
    text-align: center;
    align-items: end;
}
.item-text{
    margin-top: 70%;
}
.items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#pizza{
    top: -70px;
}
.left-side-arrow img{
    width: 35%;
    opacity: 0.2;
}
.left-side-arrow{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}
.order-now{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    font-weight: bold;
    color: var(--background-color);
    padding: 20px 40px;
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    margin-top: 3rem;
    text-align: center;
    border: none;
    cursor: pointer;
}
.left-side-buttons{
    display: flex;
}
.order-process{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
}
.order-process h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: 500;
    cursor: pointer;
}
.order-process i{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* informations */
.parent-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    width: 100%;
    margin: 100px 0px;
    border-radius: 10px;
    /* background-color: red; */
    box-shadow: var(--shadow);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 20px;
    padding: 40px;
}
.info i{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.info h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: 500;
    margin: 0px;
}
.info p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 10px;
}
.info-line{
    height: 65%;
    border-left: 1px solid #cecece;
    margin-right: 0px;
}
/* products */
.popular-text p{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1rem;
    margin: 0px;
    margin-top: 0.5rem;
    text-align: center;
}
.popular-text h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}
.popular-item{
    position: relative;
    height: 420px;
    width: 400px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.rating{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.rating i{
    color: var(--primary-color);
}
.rating p{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0px;
}
.name h3{
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: var(--secondary-font-size);
    font-weight: bold;
    margin: 0px;
}
.name-rating{
    /* position: absolute;
    bottom: 20px; */
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    margin-top: 15px;
}
.cart{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    align-items: center;
    margin-top: 10px;
}
.cart button{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    font-weight: bold;
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 100px;
    font-family: var(--secondary-font);
    font-weight: 300;
    border: none;
}
.cart p{
    font-family: var(--secondary-font);
    font-weight: 600;
}
.popular-item-img img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.popular-container{
    display: flex;
    justify-content: center;
    
}
.see-more-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 40rem;
}
.see-more button{
    background: none;
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    color: var(--background-color);
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.see-more i{
    font-size: 1.5rem;
    color: var(--background-color);
    cursor: pointer;
}
.see-more{
    background: linear-gradient(90deg, #ffa229 0%, #ff7b29 100%);
    height: 4rem;
    width: 18rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
#test-div{
    height: 200px;
    width: 200px;
    background-color: red;
}
.pop-2{
    margin-top: 50px;
}